body{
    margin:0;
    font-family:Arial;
}

.layout{
    display:flex;
    gap:20px;
    padding:20px;
}

.box{
    flex:1;
    background:#2563eb;
    color:white;
    padding:100px;
    border-radius:20px;
    text-align:center;
}

@media(max-width:768px){

    .layout{
        flex-direction:column;
    }

}