body {
    margin: 0;
    font-family: Arial;
}

nav {
    background: #111827;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #60a5fa;
}