body{
    background:#1e293b;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.todo{
    background:#334155;
    padding:30px;
    border-radius:20px;
}