body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:#111827;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(120deg,#2563eb,#9333ea);
    color:white;
}

.hero button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
}

.projetos{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px;
}

.card{
    background:white;
    padding:50px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}