body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #111827;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

section {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 15px;
}